body {
  margin:0;
  padding:0;
  font-family:"Arial", sans-serif;
  background-color: ;
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

.image_edit{
  position: absolute;
  left: 73%; 
  top: 60%;
  height: 90%;
  width: 570px;
  padding: 20px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.8);
  border-radius: 50px;
}

.image_edit h3 {
  margin: 5px 0 5px;
  font-size: 1.75rem;
  font-weight: bold;
  font-size: 20px;
  color: #344F21;
  text-align: center;
}

.image_edit img{
  margin-left: 90px;
  border-radius: 10%;
}

.form-box{
  position: absolute;
/*  margin-top: 20px;*/
  top: 60%;
  left: 50%;
  height: auto;
  width: 570px;
  padding: 20px;
  background-color: #fff;
/*  opacity: 0.8;*/
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.8);
  border-radius: 50px;
}



@media (max-width: 540px){
  #aircon-form, #client-form1{
    left: 23%;
  }

  #dateformbox, #emp-form, #service-form, #user-form, #profile-form, #appt-form{
    left: 24%;
  }

  #service-form, #user-form1{
    height: 500px;
  }

  #profile-form{
    height: 800px;;
  }

  #clientfbox{
    height: 850px;
  }

  #appt-form{
    margin-top: 100px;
    height: auto;
  }


  .form-box .user-box  input.timee{
    margin-left: -90px;
  }

  .form-box .user-box label.ttime{
    margin-left: 85px;
  }

  .form-box .user-box label.bname{
    margin-top: -45px;
    margin-left: 22px;
  }

  #cid{
    margin-left: -130px;
  }

  #qtyapptlbl{
    margin-top: 20px;
    margin-left: 23px;
  }

  .form-box .qtyClass #quantity{
    left: 30px;
    position: relative;
  }

  .form-box .plusbtn{
    left: -110px;
  }

  #profile-form, #clientfbox{
    top: 350px;
  }

  #ibserv5{
    margin-left: -175px;
    margin-top: 175px;
  }

  #client-form, #emp-form1, #service-form1, #user-form1{
    left: 36%;
  }

  #name-icon, #pemail-icon, #paddress-icon, #ppassword-icon, #file-icon, #bdo_email-icon, #ppassword-icon1, #user_img1-icon{
    margin-left: -24px;
  }

  #paddress-icon, #ppassword-icon, #bdo_email-icon, #pcpassword-icon1, #user_img1-icon, #file-icon{
    top: 50px;
  }

  #user_img1-icon{
    height: 46px;
  }

  #pcpassword-icon1{
    margin-left: -270px;
  }

  #pcpassword-icon{
    margin-left: -270px;
    margin-top: 104px;
  }

  #name.plname{
    left: -39px;
    top: 50px;
  }

  #email.bdo_email{
    margin-left: 14px;
    margin-top: 54px;
    width: 100%;
  }

  #pemail-icon{
    margin-left: -270px;
    top: 50px;
  }

  #pcontact-icon{
    margin-left: -270px;
    top: 100px;
  }

  .user-box #name.pname{
    margin-left: 15px;
  }

  .user-box #email.pemail{
    margin-left: -215px;
    margin-top: 55px;
  }

  .user-box #address.paddress{
    margin-top: 55px;
    margin-left: 13px;
  }

  .user-box #contact.pcontact{
    left: -40px;
    top: 100px;
  }

  .user-box #password.ppassword{
    margin-left: 15px;
    margin-top: 54px;
  }

  .user-box #password.ppassword1{
    margin-left: 15px;
    width: 100%;
  }

  .user-box #c_password.pcpassword{
    margin-left: -215px;
    margin-top: 104px;
  }

  .user-box #c_password.pcpassword1{
    margin-left: -215px;
    margin-top: 55px;
  }

  .user-box #user_img1{
    width: 100%;
    margin-top: 55px;
    margin-left: 15px;
  }

  .user-box #user_img{
    margin-left: 16px;
    margin-top: 54px;
  }

  #cssroles{
    width: 70%;
  }

  #accfor{
    position: absolute;
    margin-left: 82px;
    width: 35%;
    top: 370px;
  }

  #user-edit-submit{
    margin-top: 80px;
  }

  #updateprofsubmitbtn{
    position: absolute;
    bottom: 90px;
    left: 0px;  }

  #accforlbl{
    position: absolute;
    left: 70px;
    margin-top: 75px;
  }
}



.form-box h3 {
  margin: 5px 0 5px;
  font-size: 1.75rem;
  font-weight: bold;
  font-size: 20px;
  color: #344F21;
  text-align: center;
}
.form-box h3.sidef{
  text-align: left;
}

.form-box h2{
  margin: 5px 0 5px;
  font-size: 1.75rem;
  font-weight: bold;
  font-size: 30px;
  color: #344F21;
  text-align: center;
}

.form-box .profilee{
  margin-left: 32px;
}

.form-box .profileee{
  margin-left: 32px;
}

.form-box .profilee img.pimg{
  width: 120px;
  height: 120px;
  border: 2px solid #344F21;
  border-radius: 50%;
}

.form-box .user-box, .user-box{
  position: relative;
}

.form-box .user-box input{
  padding: 0.45rem;
  font-size: 16px;
  width: 80%;
  color: #344F21;
  margin: 5px;
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  margin-left: 55px;
}


.form-box .user-box textarea{
  padding: 0.45rem;
  font-size: 16px;
  width: 80%;
  color: #344F21;
  margin: 5px;
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  margin-left: 55px;
}

.form-box .user-box input.datee{
  width: 41%;
  position: absolute;
  left: 200px;
  top: 23px;
}

#cssroles{
  width: 40%;
  height: 45px;
  top: 29px;
  left: -45px;
}

#rolelbl{
  margin-left: 30px;
}

#accfor{
  left: -30px;
  width: 208px;
}

#accforlbl{
  margin-left: -15px;
}

.form-box .user-box input.dateee{
  width: 41%;
  position: absolute;
  left: -40px;
  top: 23px;
}

.form-box .user-box input.timee{
  width: 41%;
  position: absolute;
  left: 225px;
  top: 23px;
  border-radius: 5px;
}

.form-box .user-box input.timee{
  width: 41%;
  position: absolute;
  left: 225px;
  top: 23px;
  border-radius: 5px;
}

.form-box .user-box input.number{
  width: 41%;
  position: absolute;
  left: 225px;
  top: 57px;
  border-radius: 5px;
}


.form-box .user-box #cid{
  width: 41%;
  position: absolute;
  left: 265px;
  top: 28px;
  border-radius: 5px;
}



.form-box .user-box input.upimg, #user_img{
  padding: 4px 10px 3px;
}

.form-box .user-box input.pname,  .form-box .user-box input.paddress, .form-box .user-box input.ppassword{
    width: 100%;
    left: 0px;
}

.form-box .user-box input.pemail, .form-box .user-box input.plname, .form-box .user-box input.pcontact, .form-box .user-box input.pcpassword, .form-box .user-box input.pcpassword1{
  width: 100%;
  position: absolute;
  left: 230px;
  top: 0px;
}

.form-box .user-box #pemail-icon, .form-box .user-box #pcontact-icon, .form-box .user-box #pcpassword-icon{
  left: 246px;
}

.form-box .user-box input.bdo_email{
  width: 405px;
}

a.btnn:hover{
  background-color: #486037;
}


.form-box .user-box .icon-box{
    position: absolute;   
    height: 39.5px;
    width: 39px;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 9px;
    background-color: #344F21;
    color: #fff;
    margin-top: 5px;
    margin-left: 16px;
}

#ibserv1, #ibserv2, #ibserv3, #ibserv4{
  width: 70%;
}

#ibserv5{
    position: absolute;
    top: 123px;
    left: 175px;
}

#colorlbl{
  margin-left: 0px;
  font-weight: bold;
}

.form-box .user-box .icon-box1{
    position: absolute;   
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 20px;
    padding: 8px 9px;
    background-color: #344F21;
    color: #fff;
    margin-top: 5px;
    left: 285px;
}

.form-box .btn{
  position: relative;
  display: inline-block;
  background-color: #344F21;
  padding: 5px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  top: -12.5px;
  float: right;
  right: -15px;
  border: none;
}

.form-box .btn-light{
  margin-top: 80px;
  float: left;
  margin-left: -100px;
  background-color: white;
  color: #344F21;
  z-index: 1;
}

.form-box a.back-btn{
  position: relative;
  display: inline-block;
  background-color: #344F21;
  padding: 5px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: -12px;
  border: none;
  float: right;
  right: 100px;
  border-radius: 5px;
}

.form-box .btn:hover, a.back-btn:hover {
  background: #566C46;
  color: #fff;
  box-shadow: 0 0 5px #344F21,
              0 0 25px #344F21,
}

.form-box p{
  margin: 0px;
  font-size: 13px;
  color: #344F21;
}

.form-box .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.form-box label, .container label{
  margin: 0px;
  font-size: 15px;
  color: #344F21;
}

.form-box label.explbl{
  position: absolute;
  margin-left: -85px;
  top: 40px;
}

.form-box label.tdate, #Atype{
  margin-left: 142px;
}

.form-box label.ttime{
  margin-top: 5px;
  margin-left: 225px;
}

.form-box label.bname{
  margin-left: 165px;
}

.form-box label.fcunum,label.fcunum{
  margin-top: -100px;
}

.form-box label{
  margin-left: 16px;
  margin-top: 5px;
}

#color-picker{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
}

#color-picker::-webkit-color-swatch{
  border-radius: 50%;
  border: 5px solid #344F21;
}


.form-box select #fcuno{
  top: -100px;
}

.form-box #expertise{
  position: absolute;
  left: 135px;
  top: 260px;
}

.form-box .select-dropdown, .select-dropdown * {
  margin-left: 15px;
  padding: 0;
  position: relative;
  width: 87%;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.form-box .select-dropdown {
  position: relative;
  background-color: #E6E6E6;
  border: 1px solid black;
  border-radius: 4px;
}

.form-box .select-dropdown select {
  font-size: 1rem;
  color: #344F21;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}

.form-box .select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}


#submitbtn{
  right: 10px;;
}

.form-box .select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.datepicker table tr td.disabled{
  color: red !important;
}
.form-box .fcuClass{
  margin-left: 10px;
}

.form-box .fcuClass .dropdown{
  height: 30px;
  width: 200px !important;
  margin-top: -60px;
  margin-left: 90px;
}
.form-box .fcuClass .dropdown-toggle{
  margin-top: 50px;
}
.form-box .qtyClass #quantity{
/*  margin-top:40px;*/
  margin-left: -5px;
}
.form-box .qtyClass label{
  margin-left: -5px;
}
.form-box .plusbtn{
  margin-top: 45px;
  margin-left: -30px;
}
.form-box .fcuAdd{
  margin-top: -50px;
}
.form-box .fcuAdded{
  height: 20px;
}
.form-box .qtyAdded{
  margin-top: 20px;
}
.form-box .minusbtn{
  margin-top: 33px;
    margin-left: -30PX;
}
.form-box .minusbtn1{
  margin-top: 20px;
    margin-left: -80PX;
}
.form-box .minusbtn .minusbtn{
  background-color: grey;
}
.form-box .addUpdateBtn{
  margin-top: 10px;
  margin-bottom: 10px;
  left: -270px;
}