body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: url(../image/home-img.jpg);
  height: 100%; 
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70%;
  width: 550px;
  padding: 20px;
  background-color: #fff;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.8);
  border-radius: 50px;
}

.login-box .header img{
  position: relative;
  left: 35px;
  height: 110px;
  width: 400px;
}

.login-box h4 {
  margin: 0 0 15px;
  padding: 0;
  color: #344F21;
  text-align: center;
}
.login-box .back{
  text-align: center;
}
.login-box .back a{
  margin: 0 0 30px;
  padding: 0;
  font-size: 1rem;
  font-weight: lighter;
  color: #344F21;
  text-decoration: none;
}

.login-box .back a:hover{
  text-decoration: underline; 
}

.login-box h3 {
  margin: 20px 0 10px;
  font-size: 1.75rem;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  color: #344F21;
  text-align: center;
}


.login-box .user-box {
  position: relative;
}
/*.form-group{
  margin-bottom: 0 !important;
}*/

.btn {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;      
}

.btn:hover{
  cursor: pointer;
}

.login-box .user-box input {
  width: 70%;
 
  /*//height: 1.2rem;*/
  padding: 0.5rem;
  font-size: 16px;
  color: #344F21;
  margin: 1px;
  margin-left: 80px;
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  margin-top: 7px;
}


.login-box .user-box .icon-box{
    position: absolute;   
    width: 24px;
    font-size: 22px;
    line-height: 20px;
    padding: 8px 9px;
    background-color: #344F21;
    color: #fff;
    margin-top: 6px;
    margin-left: 40px;
    box-sizing: unset !important;
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #344F21 !important;
  background-color: #566C45 !important;
}

.login-box .user-box label {
  position: absolute;
  padding: 5px 20px;
  font-size: 16px;
  color: #344F21;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #344F21;
  font-size: 16px;
}

.login-box form .btn {
  position: relative;
  display: inline-block;
  width: 82%;
  background-color: #344F21;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 15px;
  margin-left: 40px;
  letter-spacing: 4px;
  font-weight: bold;
}

.login-box .btn:hover {
  background: #566C46;
  color: #fff;
  box-shadow: 0 0 5px #344F21,
              0 0 25px #344F21,
}

.login-box .fpass{
  float: right;
  margin-right: 55px;
}
.login-box .fpass a{
  color: #344F21; 
  font-size: 12px;
  text-decoration: none;
}
.login-box .fpass a:hover{
  text-decoration: underline;
}

.login-box a.back-btn{
  position: relative;
  bottom: 0px;
  left: 40px;
  margin-bottom: 0;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: normal;
  color: #344F21;
}

.login-box a.back-btn:hover {
  background: #566C46;
  padding: 0.5rem;
  color: #fff;
  border-radius: 10%;
  box-shadow: 0 0 5px #344F21,
              0 0 25px #344F21,
}
.suc-msg{
  background-color: green;
  margin-bottom: -2rem;
}
.suc-msg h4{
  font-size: 1.5rem;
  color: #fff;
}
.err-msg{
  background-color: red;
  margin-bottom: -2rem;
}
.err-msg h4{
  font-size: 1.5rem;
  color: #fff;
}
.reg{
  margin-top: -1.5rem;
  text-align: center;
}
.reg p{
  font-size: 12px;
}
.reg p a{
  font-size: 12px;
  color: #576E48;
}