.body-content{
	left: 10px;
}
.card1{
	top: -10px;
	height: 150px;
	color: #344F21;
}
.card1, .card2{
	background-color: #fff;
	width: 73rem;
}
.card1 .card-header{
	height: 60px;
/*	width: 100%;*/
}
.card1 .card-header h3{
	font-weight: bold;
}
#sub{
	float: left;
/*	margin-top: 22px;*/
}
#print{
	margin-left: -8px;
}

.header-img,
.title{
	display: none;
	visibility: none;
}
#table1 th{
	background-color: #344F21;
	color: #fff;
	font-weight: normal;
}

.body-content .filter .advance-filter{
    top:1.5rem;
    left: -5px;
}
.body-content .filter{
    background-color: #FFFF;
/*    margin-top: 10px;*/
    width: 100%;
}