/*@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");:root{--header-height: 3rem;--nav-width: 68px;--first-color: #4723D9;--first-color-light: #AFA5D9;--white-color: #F7F6FB;--body-font: 'Nunito', sans-serif;--normal-font-size: 1rem;--z-fixed: 100}*,::before,::after{box-sizing: border-box}body{position: relative;margin: var(--header-height) 0 0 0;padding: 0 1rem;font-family: var(--body-font);font-size: var(--normal-font-size);transition: .5s}a{text-decoration: none}.header{width: 100%;height: var(--header-height);position: fixed;top: 0;left: 0;display: flex;align-items: center;justify-content: space-between;padding: 0 1rem;background-color: var(--white-color);z-index: var(--z-fixed);transition: .5s}.header_toggle{color: var(--first-color);font-size: 1.5rem;cursor: pointer}.header_img{width: 35px;height: 35px;display: flex;justify-content: center;border-radius: 50%;overflow: hidden}.header_img img{width: 40px}.l-navbar{position: fixed;top: 0;left: -30%;width: var(--nav-width);height: 100vh;background-color: var(--first-color);padding: .5rem 1rem 0 0;transition: .5s;z-index: var(--z-fixed)}.nav{height: 100%;display: flex;flex-direction: column;justify-content: space-between;overflow: hidden}.nav_logo, .nav_link{display: grid;grid-template-columns: max-content max-content;align-items: center;column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem}.nav_logo{margin-bottom: 2rem}.nav_logo-icon{font-size: 1.25rem;color: var(--white-color)}.nav_logo-name{color: var(--white-color);font-weight: 700}.nav_link{position: relative;color: var(--first-color-light);margin-bottom: 1.5rem;transition: .3s}.nav_link:hover{color: var(--white-color)}.nav_icon{font-size: 1.25rem}.show{left: 0}.body-pd{padding-left: calc(var(--nav-width) + 1rem)}.active{color: var(--white-color)}.active::before{content: '';position: absolute;left: 0;width: 2px;height: 32px;background-color: var(--white-color)}.height-100{height:100vh}@media screen and (min-width: 768px){body{margin: calc(var(--header-height) + 1rem) 0 0 0;padding-left: calc(var(--nav-width) + 2rem)}.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}.header_img{width: 40px;height: 40px}.header_img img{width: 45px}.l-navbar{left: 0;padding: 1rem 1rem 0 0}.show{width: calc(var(--nav-width) + 156px)}.body-pd{padding-left: calc(var(--nav-width) + 188px)}}*/

/*.username{
    text-align: center;
    color: #fff;
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb:hover {
  background: #344F21;
}


.dropdown-btn 
{
    padding: 10px 20px 10px 18px;
    text-decoration: none;
    height: 50px;
    color: white;
    display: block;
    border: none;
    background: none;
    background-color: #344F21;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.4s ease;
}

.dropdown-btn i{
    font-size: 20px;
}

.sidebar .dropdown-btn{
    pointer-events: visible;
}

.sidebar .dropdown-btn .down2{
    display: none;
    font-size: 16px;
}

.sidebar.active .dropdown-btn .down2{
    display: contents;
}

.sidebar.active .dropdown-btn{
    padding: 10px 20px 10px 33px;
}
/* On mouse-over */
.dropdown-btn:hover 
{
    font-size: 15px;
    font-weight: bold;
}
.active
{
    background-color: #344F21;
    color: #fff;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container
{
    display: none;
    background-color: #344F21;
    padding-left: 10px;
}

.sidebar{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #344F21;
    padding: 6px 14px;
}
.sidebar.active{
    width: 240px;
    background-color: #344F21;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .logo_content{
    background-color: #344f21;
    padding: 0 5px 0
}

.sidebar.active .logo_content{
    background-color: #fff;
}

.sidebar .logo_content .logo img{
    display: flex;
    height: 50px;
    width: 88%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo img{
    opacity: 1;
    pointer-events: none;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 88%;
    color: #344f21;
}
.sidebar ul{
    margin-top: 10px;
}
.sidebar.active ul{
    margin-top: 10px;
}

.sidebar ul h4{
    display: none;
}

.sidebar ul hr{
    background-color: #fff;
    margin: 0;
}
.sidebar.active ul h4{
    display: block;
    color: #fff;
    margin-top: 10px;
    line-height: 15px;
    font-size: 14px;
}
.sidebar ul li{
    position: relative;
    height: 40px;
    width: 100%;
    left: 10%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    font-size: 15px;
}

.sidebar ul li.apptmnt{
    margin-bottom: 5px;
}

.sidebar ul li a:hover{
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: bold;
}

.sidebar ul li.nav-item{
    padding-left: 45px;
}

.sidebar ul li.ar {
    font-size: 13px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50px;
    transform: translate(-80% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.dropdown-btn .tooltip2,.dropdown-btn .tooltip4, .dropdown-btn .tooltip5{
    position: absolute;
    left: 150px;
    margin-top: -155px;
    transform: translate(-80% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    color: black;
}

.dropdown-btn .tooltip4{
    margin-top: -115px;
}

.dropdown-btn .tooltip2{
    margin-top: -60px;
}

.dropdown-btn .tooltip5{
    margin-top: -36px;
}

.sidebar.active .dropdown-btn .tooltip2, .sidebar.active .dropdown-btn .tooltip4, .sidebar.active .dropdown-btn .tooltip5{
    display: none;
}
.dropdown-btn:hover .tooltip2{
    transition: all 0.1s ease;
    opacity: 1;
/*    top: 40%;*/
    font-weight: normal;
    font-size: 14px;
}

.dropdown-btn:hover .tooltip5{
    transition: all 0.1s ease;
    opacity: 1;
/*    top: 40%;*/
    font-weight: normal;
    font-size: 14px;
}

.dropdown-btn:hover .tooltip4{
    transition: all 0.1s ease;
    opacity: 1;
    top: 55%;
    font-weight: normal;
    font-size: 14px;
}
.sidebar ul li .tooltip3{
    position: absolute;
    left: 122px;
    top: 50px;
    transform: translate(-80% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    color: #344F21;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip3{
    display: none;
}
.sidebar ul li:hover .tooltip3{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: -10px;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    font-size: 15px;
}

.sidebar-header{
    position: absolute;
    background-color: #F2F8EE;
    overflow: auto;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar-header .text1{
    padding: 10px 5px;
    background-color: #fff;
    font-size: 30px;
    color: #344F21;
    font-weight: bold;
}

@media (min-width: 1200px) {
  .sidebar-header .text1{
    font-size: 30px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
  .sidebar-header .text1 .title-header{
    display: none;
  }

  .sidebar-header .text1{
    height: 50px;
  }
}

.sidebar-header .drop-content{
    position: absolute;
    right: -40px;
    top: 5px;
    width: 200px;
}

.sidebar-header .drop-content .dropdown{
    list-style: none;
}

.sidebar-header .drop-content li a{
    font-size: 20px;
    text-align: left;
    color: #344F21;
}

.sidebar-header .drop-content li a.dropdown-item{
    font-size: 15px;
}
.sidebar.active ~ .sidebar-header{
    width: calc(100% - 240px);
    left: 240px;
}

.body-content{
    position: absolute;
    z-index: 1;
    left: 80px;
    height: 70%;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
}
.sidebar.active ~ .body-content{
    width: calc(100% - 240px);
    left: 240px;
}
.card{
    background-color: #F2F8EE;
}
.body-content .crud-text{
    margin-left: -60px;
}

.crud-text h5{
    color: #344F21;
    font-weight: bold;
    font-size: 17px;
}

.swtch{
    float: right;
    margin-right: 10px;
    margin-top: -10px;
    text-align: right;
}

.swtch label.add2callloglbl{
    font-size: 14px;
    font-weight: bold;
    color: #344F21;
}

.body-content .tsk{
    margin-left: 10px;
    margin-bottom: 20px;
}

.modal-header{
    color: #344F21;
    background-color: whitesmoke;
}

.modal-title{
    font-weight: bold;
}

.modal-body{
    font-size: 15px;
}

.modal-footer .btn{
    font-size: 12px;
}

.modal-footer .btnn:hover{
    background-color: #5c724d;
}

.body-content .crud-text h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #344F21;
}

@media(max-width: 600.99px){
    .body-content .crud-text h3{
        font-size: 20px;
    }

    .body-content .crud-text h3.pusers, .body-content .crud-text h3.npusers{
        margin-left: 15px;
    }

    .body-content .crud-text h3.npusers{
        font-size: 17px;
    }
}



.body-content .crud-text h3.headerfont{
    margin-left: 70px;
}

table tr td .reports:hover{
    background-color: #4E693C;
}

 .d-flex{
     margin-left: 0px;
 }
 .d-flex .btn{
    margin-right: 70px;
    margin-left: -60px;
    font-size: 15px;
    color: white;
    background-color: #344F21;
}
.d-flex .btn:hover{
    font-size: 15px;
    color: white;
    background-color: #4E693C;
}

.body-content .mt-3{
    margin-left: -60px;
    margin-right: 10px;
    color:  #344F21;
    width: 100%;
}
.body-content .mt-3 th{
    background-color: #344F21;
    color: white;
    font-weight: normal;
}
.body-content .add-form h1{
    color: #344F21;
    font-weight: bold;
}
/*.body-content .add-form form{
    margin-left: -50px;
    margin-right: 20px;
}*/
.body-content .add-form form .form-content{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: 65%;
    left: 25%;
    top: 15%;
}
.body-content .add-form form .long{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: 95%;
    left: 25%;
    top: 15%;
}
.body-content .add-form form .form-group label{
    color: #344F21;
    
    margin-left: 20px;
    font-size: 20px;
}
.body-content .add-form form .form-group #label1{
    margin-top: 50px;
}
.body-content .add-form form .form-group input{
    width: 80%;

    margin-left: 20px;
}
.body-content .add-form form .form-group .btn{
    float: right;
    margin-right: 17%;
    border-radius: 12px;
}
.body-content .add-form form .form-group .back{
    margin-right: 10px;
}
.body-content .add-form form .form-group .back:hover{
    color: white;
}
.body-content .Top1{
    background-color: #fff;
    margin-top: 20px;
    width: 35%;
    height: 400px;
    float: left;
    border-radius: 50px;
    margin-left: -50px;
}
.body-content .Top1 .Form1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: 28%;*/
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.body-content .Top1 .Form1 h1{
    /*margin-left: 17%;*/
    text-align: center;
    font-family: Arial,Sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.body-content .Top1 .Form1 h4{
    text-align: center;
    color: blue;
}
.body-content .Top{
    background-color: #fff;
    border-radius: 50px;
    float: right;
    margin-right: 150px;
    width: 50%;
    padding: 25px 50px;
}
.body-content .event-header{
    margin-left: -50px;
    color: #344F21;
}
/*css for events button*/
.body-content .tsk .btn{
    left: 10px;
   /* float: left;*/
    font-size: 15px;
    color: white;
    background-color: #344F21;
}


.body-content .tsk .btn:hover{
    background-color: #4E693C;
    color: white;
}
.body-content .event-header .filter{
    background-color: #FFFF;
    margin-top: 10px;
    width: 96%;
/*    margin-left: 200px;*/
}
.body-content .event-header .filter .advance-filter{
    top:2rem;
    left: -5px;
}
.body-content .event-header .filter #sub, #gen{
    margin-top: 25px;
    float: left;
}
.body-content .event-header .filter #sub1{
    float: left;
    margin-top: 9px;
    margin-left: 1px;
}
.body-content .event-header .filter #print{
    margin-top: 25px;
    margin-left: 5px;
}
#dl{
    margin-top: 8px;
    margin-left: 2px;
}
.body-content .edit-form h1{
    color: #344F21;
    
    font-weight: bold;
}
.body-content .edit-form form{
    margin-left: -50px;
    margin-right: 20px;
}
.body-content .edit-form form .form-content{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: 65%;
    left: 25%;
    top: 15%;
}
.body-content .edit-form form .long{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: 95%;
    left: 25%;
    top: 15%;
}

.body-content .edit-form form .img{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: 95%;
    margin-left: -320px;
    margin-top: 20px;

}.body-content .edit-form form .long{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: 95%;
    left: 25%;
    top: 15%;
}
.body-content .edit-form form .form-group label{
    color: #344F21;
    
    margin-left: 20px;
    font-size: 20px;
}
.body-content .edit-form form .form-group #label1{
    margin-top: 50px;
}
.body-content .edit-form form .form-group input{
    width: 80%;

    margin-left: 20px;
}
.body-content .edit-form form .form-group .btn{
    float: right;
    margin-right: 17%;
    border-radius: 12px;
}
.body-content .edit-form form .form-group .back{
    margin-right: 10px;
}
.body-content .edit-form form .form-group .back:hover{
    color: white;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: yellowgreen;
    color: white;
}
.body-content .add-form form .form-group textarea{
    margin-left: 15px;
    width: auto;
}
.body-content .edit-form form .form-group textarea{
    margin-left: 15px;
    width: auto;
}


/*All Tables CRUD*/
table{
    font-size: 14px;
}
#event-table{
    font-size: 16px;
}

h3#headerrate{
    color: #344F21;
    font-weight: bold;
    font-size: 18px;
}

/*Stars Style*/
*{
    margin: 0;
    padding: 0;
}
.result{
    left: -50px;
}
.resulttech{
    left: -70px;
}
.rate,.tech {
/*    float: left;*/
    top: -20px;
    left: -40px;
    height: 46px;
    padding: 0 10px;
}
.tech {
    left: -60px;
}


.rate:not(:checked) > input, .tech:not(:checked) > input  {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label,.tech:not(:checked) > label  {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
}
.rate:not(:checked) > label:before,.tech:not(:checked) > label:before  {
    content: '★ ';
}
.rate > input:checked ~ label, .tech > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label,
.tech:not(:checked) > label:hover,
.tech:not(:checked) > label:hover ~ label  {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label,.tech > input:checked + label:hover,
.tech > input:checked + label:hover ~ label,
.tech > input:checked ~ label:hover,
.tech > input:checked ~ label:hover ~ label,
.tech > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*circle-progress*/
.circular-progress{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: grey;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.circular-progress:before{
    content:"";
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: #ffffff;
    border-radius: 50%;
}
.value-container{
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: black;
}
